<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
  <test thread-count="5" name="Login Test">
    <classes>
      <class name="com.pagefactory.testcases.LoginTest"/>
      
    </classes>
  </test> <!-- Test -->
  
   <test thread-count="5" name="Profile Test">
    <classes>
      <class name="com.pagefactory.testcases.ProfileTest"/>
      
    </classes>
  </test> <!-- Test -->
  
   <test thread-count="5" name="Change Pic Test">
    <classes>
      <class name="com.pagefactory.testcases.ChangePicTest"/>
      
    </classes>
  </test> <!-- Test -->
  
  
</suite> <!-- Suite -->
